*.class
*.log

# Package FileSystem #
*.jar
*.war
*.ear

# Maven
target/

# Idea
.idea/
*.iml

src/main/assembly/static/lib/*.jar

src/main/generated-sources
conf/sql-boot*

malewicz/node_modules/
malewicz/node/
malewicz/dist/
