<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"
        profile="postgres">


    <bean name="dev" id="dataSource" parent="templateCP">
        <property name="driverClassName" value="org.postgresql.Driver" />
        <property name="url" value="${db_dev_url}"/>
        <property name="username" value="${db_dev_user}" />
        <property name="password" value="${db_dev_password}" />
    </bean>


    <!--<bean name="test" id="testDataSource" parent="templateCP">
        <property name="driverClassName" value="org.postgresql.Driver" />
        <property name="url" value="${db_test_url}"/>
        <property name="username" value="${db_test_user}" />
        <property name="password" value="${db_test_password}" />
    </bean>-->

    <import resource="table.xml" />

</beans>