<?xml version="1.0" encoding="UTF-8"?>
<!--~
  ~ The MIT License (MIT)
  ~
  ~ Copyright (c) 2016-2017 Maksim Gramin
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included
  ~ in all copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. IN NO EVENT SHALL THE
  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  ~ SOFTWARE.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
        http://www.springframework.org/schema/jdbc
        http://www.springframework.org/schema/jdbc/spring-jdbc-4.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.1.xsd"
        profile="postgres">

    <bean id="yamlProperties" class="org.springframework.beans.factory.config.YamlPropertiesFactoryBean">
        <property name="resources" value="classpath:postgres/application-postgres.yml"/>
    </bean>

    <context:property-placeholder properties-ref="yamlProperties"/>

    <!--<bean class="com.github.mgramin.sqlboot.util.sql.DBConnectionss">
        <constructor-arg name="name" value=""/>
        <constructor-arg name="description" value=""/>
        <constructor-arg name="isDefault" value=""/>
        <constructor-arg name="dataSource">
            <bean parent="templateCP" primary="true">
                <property name="driverClassName" value="org.postgresql.Driver" />
                <property name="url" value="${db_dev_url}"/>
                <property name="username" value="${db_dev_user}" />
                <property name="password" value="${db_dev_password}" />
            </bean>
        </constructor-arg>
    </bean>-->

    <bean name="dev" id="dataSource" parent="templateCP" primary="true">
        <property name="driverClassName" value="org.postgresql.Driver" />
        <property name="url" value="${db_dev_url}"/>
        <property name="username" value="${db_dev_user}" />
        <property name="password" value="${db_dev_password}" />
    </bean>



    <!--<bean name="test" id="testDataSource" parent="templateCP">
        <property name="driverClassName" value="org.postgresql.Driver" />
        <property name="url" value="${db_test_url}"/>
        <property name="username" value="${db_test_user}" />
        <property name="password" value="${db_test_password}" />
    </bean>-->

    <import resource="table.xml" />

</beans>