<!--
  ~ The MIT License (MIT)
  ~
  ~ Copyright (c) 2016-2017 mgramin
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in all
  ~ copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  ~ SOFTWARE.
  ~
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"
       profile="cassandra">

    <bean id="dataSource" class="com.github.adejanovski.cassandra.jdbc.CassandraDataSource">
        <constructor-arg name="host" value="127.0.0.1"/>
        <constructor-arg name="port" value="9042"/>
        <constructor-arg name="keyspace" value="testks"/>
        <constructor-arg name="user" value=""/>
        <constructor-arg name="password" value=""/>
        <constructor-arg name="version" value=""/>
        <constructor-arg name="consistency">
            <null />
        </constructor-arg>
    </bean>
s
    <import resource="keyspace.xml"/>
    <import resource="column_family.xml"/>

</beans>