<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"
       profile="cassandra">

    <bean id="dataSource" class="com.github.adejanovski.cassandra.jdbc.CassandraDataSource">
        <constructor-arg name="host" value="127.0.0.1"/>
        <constructor-arg name="port" value="9042"/>
        <constructor-arg name="keyspace" value="testks"/>
        <constructor-arg name="user" value=""/>
        <constructor-arg name="password" value=""/>
        <constructor-arg name="version" value=""/>
        <constructor-arg name="consistency">
            <null />
        </constructor-arg>
    </bean>

    <import resource="keyspace.xml"/>
    <import resource="column_family.xml"/>

</beans>