<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"
        profile="oracle">

    <bean id="dataSource" class="oracle.jdbc.pool.OracleDataSource">
        <property name="dataSourceName" value="ds"/>
        <property name="URL" value="${db_dev_url}"/>
        <property name="user" value="${db_dev_user}"/>
        <property name="password" value="${db_dev_password}"/>
    </bean>

    <!-- TODO use for transformation -->
    <!--<property name="prepareSql" >
        <value>
            begin
            dbms_metadata.set_transform_param(DBMS_METADATA.SESSION_TRANSFORM, 'CONSTRAINTS_AS_ALTER', false );
            dbms_metadata.set_transform_param(DBMS_METADATA.SESSION_TRANSFORM, 'STORAGE', false );
            dbms_metadata.set_transform_param(DBMS_METADATA.SESSION_TRANSFORM, 'SQLTERMINATOR', FALSE );
            dbms_metadata.set_transform_param(DBMS_METADATA.SESSION_TRANSFORM, 'TABLESPACE', false );
            dbms_metadata.set_transform_param(DBMS_METADATA.SESSION_TRANSFORM, 'CONSTRAINTS', false );
            dbms_metadata.set_transform_param(DBMS_METADATA.SESSION_TRANSFORM, 'REF_CONSTRAINTS', false );
            dbms_metadata.set_transform_param(DBMS_METADATA.SESSION_TRANSFORM, 'SEGMENT_ATTRIBUTES', false );
            dbms_metadata.set_transform_param(DBMS_METADATA.SESSION_TRANSFORM, 'SQLTERMINATOR', true);
            dbms_metadata.set_transform_param(DBMS_METADATA.SESSION_TRANSFORM, 'EMIT_SCHEMA', false);
            end;
        </value>
    </property>-->

    <!--<import resource="schema.xml" />-->
    <import resource="table.xml" />
    <!--<import resource="aq.xml" />-->
    <!--<import resource="package.xml" />-->
    <!--<import resource="routine.xml" />-->
    <!--<import resource="sequence.xml" />-->
    <!--<import resource="type.xml" />-->
    <!--<import resource="view.xml" />-->

</beans>