<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"
        profile="oracle">

    <bean id="dataSource" class="oracle.jdbc.pool.OracleDataSource">
        <property name="dataSourceName" value="ds"/>
        <property name="URL" value="jdbc:oracle:thin:@localhost:49161:xe"/>
        <property name="user" value="hr"/>
        <property name="password" value="hr"/>
    </bean>


    <import resource="schema.xml" />
    <import resource="table.xml" />
    <import resource="aq.xml" />
    <import resource="package.xml" />
    <import resource="routine.xml" />
    <import resource="sequence.xml" />
    <import resource="type.xml" />
    <import resource="view.xml" />

</beans>